altgraph==0.17.2
attrs==21.4.0
Automat==20.2.0
beautifulsoup4==4.10.0
black==22.3.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
click==8.1.0
constantly==15.1.0
cryptography==36.0.2
cssselect==1.1.0
cx-Freeze==6.10
docutils==0.18.1
easygui==0.98.2
filelock==3.6.0
hyperlink==21.0.0
idna==3.3
importlib-metadata==4.11.3
incremental==21.3.0
install==1.3.5
itemadapter==0.5.0
itemloaders==1.0.4
jmespath==1.0.0
lxml==4.8.0
mypy-extensions==0.4.3
parsel==1.6.0
patchelf==0.14.5.0
pathspec==0.9.0
Pillow==9.0.1
platformdirs==2.5.1
Protego==0.2.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
PyDispatcher==2.0.5
Pygments==2.11.2
pyinstaller==4.10
pyinstaller-hooks-contrib==2022.3
pyOpenSSL==22.0.0
queuelib==1.6.2
requests==2.27.1
requests-file==1.5.1
Scrapy==2.6.1
service-identity==21.1.0
six==1.16.0
soupsieve==2.3.1
tldextract==3.2.0
tomli==2.0.1
tqdm==4.63.1
Twisted==22.2.0
typing_extensions==4.1.1
urllib3==1.26.9
w3lib==1.22.0
zipp==3.7.0
zope.interface==5.4.0
